In [1]:
import pandas as pd
import statsmodels.api as sm
import math as m

In [44]:
df = pd.read_excel('C:\\Users\\HP\\Bank_Personal_Loan_Modelling.xlsx', sheet_name=0)
df.head()

,ID,Age,Experience,Income,ZIP Code,Family,CCAvg,Education,Mortgage,Personal Loan,Securities Account,CD Account,Online,CreditCard
0,1,25,1,49,91107,4,1.6,1,0,0,1,0,0,0
1,2,45,19,34,90089,3,1.5,1,0,0,1,0,0,0
2,3,39,15,11,94720,1,1.0,1,0,0,0,0,0,0
3,4,35,9,100,94112,1,2.7,2,0,0,0,0,0,0
4,5,35,8,45,91330,4,1.0,2,0,0,0,0,0,1

In [35]:
df = df.drop(columns = ['ID', 'ZIP Code'] )
df.drop_duplicates(inplace=True)
df.shape

(4987, 12)

In [45]:
Y = df['Personal Loan']
X = df[['Age', 'Experience', 'Income', 'Family', 'CCAvg', 'Education', 'Mortgage', 'Securities Account', 'CD Account', 'Online', 'CreditCard']]

In [46]:
X1 = sm.add_constant(X)
Logistic = sm.Logit(Y,X1)

In [47]:
result = Logistic.fit()

Optimization terminated successfully.
         Current function value: 0.128435
         Iterations 9

In [48]:
result.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                           Logit Regression Results
==============================================================================
Dep. Variable:          Personal Loan   No. Observations:                 5000
Model:                          Logit   Df Residuals:                     4988
Method:                           MLE   Df Model:                           11
Date:                Sun, 09 Aug 2020   Pseudo R-squ.:                  0.5938
Time:                        13:26:12   Log-Likelihood:                -642.18
converged:                       True   LL-Null:                       -1581.0
Covariance Type:            nonrobust   LLR p-value:                     0.000
======================================================================================
                         coef    std err          z      P>|z|      [0.025      0.975]
--------------------------------------------------------------------------------------
const                -12.1928      1.645     -7.411      0.000     -15.417      -8.968
Age                   -0.0536      0.061     -0.874      0.382      -0.174       0.067
Experience             0.0638      0.061      1.046      0.295      -0.056       0.183
Income                 0.0546      0.003     20.831      0.000       0.049       0.060
Family                 0.6958      0.074      9.364      0.000       0.550       0.841
CCAvg                  0.1240      0.040      3.127      0.002       0.046       0.202
Education              1.7362      0.115     15.088      0.000       1.511       1.962
Mortgage               0.0005      0.001      0.856      0.392      -0.001       0.002
Securities Account    -0.9368      0.286     -3.277      0.001      -1.497      -0.377
CD Account             3.8225      0.324     11.800      0.000       3.188       4.457
Online                -0.6752      0.157     -4.298      0.000      -0.983      -0.367
CreditCard            -1.1197      0.205     -5.462      0.000      -1.522      -0.718
======================================================================================
"""

# Inference

When a bank wants to offer a loan, the following factors are highly significant:

1. Annual income of the customer
2. Family size of the customer
3. Education Level. 1: Undergrad; 2: Graduate; 3: Advanced/Professional
4. Does the customer have a certificate of deposit (CD) account with the bank?
5. Does the customer use internet banking facilities?
6. Does the customer use a credit card issued by UniversalBank?

The following factors are also significant to some extent:

1. Avg. spending on credit cards per month
2. Does the customer have a securities account with the bank?

# Attrition

In [56]:
dfa = pd.read_csv('C:\\Users\\HP\\general_data.csv')
dfa.shape

(4410, 24)

In [57]:
dfa.dropna(inplace=True)
dfa.shape

(4382, 24)

In [58]:
dfa.columns

Index(['Age', 'Attrition', 'BusinessTravel', 'Department', 'DistanceFromHome',
       'Education', 'EducationField', 'EmployeeCount', 'EmployeeID', 'Gender',
       'JobLevel', 'JobRole', 'MaritalStatus', 'MonthlyIncome',
       'NumCompaniesWorked', 'Over18', 'PercentSalaryHike', 'StandardHours',
       'StockOptionLevel', 'TotalWorkingYears', 'TrainingTimesLastYear',
       'YearsAtCompany', 'YearsSinceLastPromotion', 'YearsWithCurrManager'],
      dtype='object')

In [59]:
dfa = dfa.drop(columns = ['EmployeeID', 'EmployeeCount', 'Over18', 'StandardHours', ])

In [60]:
from sklearn import preprocessing
le = preprocessing.LabelEncoder()
dfa['Attrition'] = le.fit_transform(dfa['Attrition'])
dfa['BusinessTravel'] = le.fit_transform(dfa['BusinessTravel'])
dfa['EducationField'] = le.fit_transform(dfa['EducationField'])
dfa['Gender'] = le.fit_transform(dfa['Gender'])
dfa['Department'] = le.fit_transform(dfa['Department'])
dfa['MaritalStatus'] = le.fit_transform(dfa['MaritalStatus'])
dfa['JobRole'] = le.fit_transform(dfa['JobRole'])

In [61]:
Y1 = dfa['Attrition']
X2 = dfa.drop(columns = ['Attrition'])

In [62]:
X3 = sm.add_constant(X2)
Logistic1 = sm.Logit(Y1,X3)

In [63]:
res = Logistic1.fit()

Optimization terminated successfully.
         Current function value: 0.392916
         Iterations 7

In [64]:
res.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                           Logit Regression Results
==============================================================================
Dep. Variable:              Attrition   No. Observations:                 4382
Model:                          Logit   Df Residuals:                     4362
Method:                           MLE   Df Model:                           19
Date:                Sun, 09 Aug 2020   Pseudo R-squ.:                  0.1093
Time:                        13:33:26   Log-Likelihood:                -1721.8
converged:                       True   LL-Null:                       -1933.1
Covariance Type:            nonrobust   LLR p-value:                 8.681e-78
===========================================================================================
                              coef    std err          z      P>|z|      [0.025      0.975]
-------------------------------------------------------------------------------------------
const                       0.0270      0.414      0.065      0.948      -0.785       0.839
Age                        -0.0307      0.007     -4.478      0.000      -0.044      -0.017
BusinessTravel             -0.0137      0.066     -0.209      0.834      -0.143       0.115
Department                 -0.2229      0.082     -2.735      0.006      -0.383      -0.063
DistanceFromHome           -0.0012      0.005     -0.231      0.818      -0.012       0.009
Education                  -0.0664      0.043     -1.555      0.120      -0.150       0.017
EducationField             -0.0954      0.034     -2.849      0.004      -0.161      -0.030
Gender                      0.0855      0.090      0.952      0.341      -0.091       0.262
JobLevel                   -0.0285      0.040     -0.716      0.474      -0.107       0.050
JobRole                     0.0400      0.018      2.226      0.026       0.005       0.075
MaritalStatus               0.5835      0.063      9.212      0.000       0.459       0.708
MonthlyIncome           -1.815e-06   9.57e-07     -1.897      0.058   -3.69e-06    6.01e-08
NumCompaniesWorked          0.1174      0.018      6.390      0.000       0.081       0.153
PercentSalaryHike           0.0126      0.012      1.067      0.286      -0.011       0.036
StockOptionLevel           -0.0675      0.052     -1.302      0.193      -0.169       0.034
TotalWorkingYears          -0.0584      0.012     -4.873      0.000      -0.082      -0.035
TrainingTimesLastYear      -0.1443      0.035     -4.097      0.000      -0.213      -0.075
YearsAtCompany              0.0132      0.018      0.718      0.473      -0.023       0.049
YearsSinceLastPromotion     0.1328      0.020      6.479      0.000       0.093       0.173
YearsWithCurrManager       -0.1394      0.022     -6.288      0.000      -0.183      -0.096
===========================================================================================
"""

# Inference

The following factors highly affect attrition in employees:

1. Age of the employee
2. Marital status of the employee
3. Total number of companies the employee has worked for
4. Total number of years the employee has worked so far
5. Number of times training was conducted for this employee last year
6. Number of years since last promotion
7. Number of years under current manager

The following factors also affect attrition in employees:

1. Department in company
2. Field of education