In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
data = pd.read_excel('C:/Users/HP/Linear Regression.xlsx')
data.head()

    price  sqft_living  bedrooms  bathrooms  floors
0  221900         1180         3       1.00     1.0
1  538000         2570         3       2.25     2.0
2  180000          770         2       1.00     1.0
3  604000         1960         4       3.00     1.0
4  510000         1680         3       2.00     1.0

In [3]:
data.shape

(21613, 5)

In [4]:
data.duplicated().sum()

266

In [5]:
data.drop_duplicates(inplace = True)

In [6]:
data.shape

(21347, 5)

In [7]:
data.describe().T

,count,mean,std,min,25%,50%,75%,max
price,21347.0,541986.883918,368564.096080,75000.0,323900.00,450500.00,648000.0,7700000.0
sqft_living,21347.0,2086.289502,919.716435,290.0,1430.00,1920.00,2550.0,13540.0
bedrooms,21347.0,3.374994,0.932089,0.0,3.00,3.00,4.0,33.0
bathrooms,21347.0,2.119408,0.769485,0.0,1.75,2.25,2.5,8.0
floors,21347.0,1.495058,0.539468,1.0,1.00,1.50,2.0,3.5

In [8]:
data.corr()

                price  sqft_living  bedrooms  bathrooms    floors
price        1.000000     0.701635  0.307048   0.524726  0.256003
sqft_living  0.701635     1.000000  0.574542   0.753606  0.352400
bedrooms     0.307048     0.574542  1.000000   0.513841  0.173016
bathrooms    0.524726     0.753606  0.513841   1.000000  0.497726
floors       0.256003     0.352400  0.173016   0.497726  1.000000

In [9]:
a = data.iloc[:, :1]
b = data.iloc[:,4:]

In [10]:
from sklearn.model_selection import train_test_split
b_train, b_test, a_train, a_test = train_test_split(b ,a, test_size = 0.2, random_state = 2)

In [11]:
from sklearn.linear_model import LinearRegression
lin_reg = LinearRegression()

In [12]:
lin_reg.fit(b_train, a_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [13]:
lin_reg.coef_

array([[179992.79319053]])

In [14]:
lin_reg.intercept_

array([272454.66991596])

In [15]:
from sklearn.metrics import mean_squared_error, r2_score

In [16]:
apred = lin_reg.predict(b_test)

In [17]:
RMSE = np.sqrt(mean_squared_error(a_test, apred))
r_square = r2_score(a_test, apred)

print('The R^2 value is:', r_square)
print('The RMSE value is:', RMSE)

The R^2 value is: 0.046817614920313555
The RMSE value is: 376773.3532398646