# Q3. Create your own Jupyter Notebook for Sets.

# Reference link: https://www.w3schools.com/python/python_sets.asp

# Sets

Set in python is very similler to the mathematical sets in math i can't contain any duplicate value. Set is also unordered and unindex means.. you can not put the value in set you can't exepcted the same order like dict. and also its unindexed so you can't access with index. Lets see with example

Sets are enclosed between curly brackets

st={}

Like Others set can contain any data type namely int flat string anything .

st1={"Rose","Sunflower","Lily"}

st2={1,2,3}

st3={'a','b','c'}

There are alot of funtions that can be used to perform task on sets .

Set is also mutable Data Type

In [4]:
st1={"Red","Blue","Green"}

st2={1,2,3}

st3={'a','b','c'}
for x in st1:
  print(x)

Blue
Red
Green

In [5]:
print(1 in st2)

True

In [6]:
st2.add(4)
st2

{1, 2, 3, 4}

In [7]:
st2.update([5,6,7])
st2

{1, 2, 3, 4, 5, 6, 7}

In [8]:
print(len(st3))

3

In [9]:
st1.update(st2)
print(st1)

{1, 2, 3, 4, 5, 'Red', 6, 7, 'Green', 'Blue'}

In [10]:
set3 = st1.union(st2)
print(st3)

{'b', 'a', 'c'}

In [11]:
set3 = st1.intersection(st2)
print(set3)

{1, 2, 3, 4, 5, 6, 7}